p{
    color: rgb(255, 136, 0);
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 31px;
    font-weight: 900;
    text-align: center;
    text-decoration: double;
}

li{
    color: blue;
    font-size: 50px;
    text-align: center;
}

#a{
    color: blueviolet;
}

h1{
    text-align: center;
}

form{
    text-align: center;
}
